Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans1 =organised collection of data accessed and stored in computer system manage through dbms data base management system
however there are diffrent types relational database(contain set of table),distributed(which stored in multiple physical location),cloud

diff b/w SQL and no SQL     
SQL
1 sql it is relational database whereas no sql is non relational database
2 sql have preffered schema while no sql have dynamic schema for unstrcured data
3 sql is vertically scalable while no sql is horoizontally scalable
4 sql is table based while no sql is document based where json file submit
5 sql is better for multi row transaction while no sql is unstr

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans - ddl know as data defination language use to change the struc of database object

CREATE :This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes
 CREATE TABLE table_name(c1 INT,c2 FLOAT,c3 VARCHAR(10))
 
 ALTER :This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily
 
 ALTER TABLE Student_info
ADD CGPA number;

DROP :This command is used to remove an existing table along with its structure from the Database.

DROP TABLE table_name;
 
 TRUNCATE :This command is used to remove all rows from the table, but the structure of the table still
 
 TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS - DML is data manipulation language use to manipulate the data in databas belong to DML

UPDATE Command – This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

DELETE Command –It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

INSERT Command –This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

Q4. What is DQL? Explain SELECT with an example.

ANS - DQL data query language performing query on data within schem obj . component of sql statement  allow getting data from database and impose order upon it
 SELECT is used to retrieve the data  from database
 
 select * from name_of_database. table_name;

Q5. Explain Primary Key and Foreign Key.

A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.
 
 A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
  
  
  
  
  
#  A cursor is an object which helps to execute the query and fetch the records from the database

Q7. Give the order of execution of SQL clauses in an SQL query.

1 from 
2 where 
3 group by
4 having 
5 select
6 order by
7 limit